Repository geli-lms/geli, pull requests merged in 2018-10, with the labels that each got.

#845 Update readme with latest information
  CHANGELOG.md
  README.md
Labels: nice to have, trivial

#855 Rebuild phantomjs inside docker
  .docker/api/Dockerfile
  CHANGELOG.md
Labels: api, bug

#892 Fix README badges
  CHANGELOG.md
  README.md
Labels: bug

#890 Add migration for visible
  CHANGELOG.md
  api/fixtures/courses/Access-key-test.json
  api/fixtures/courses/Advanced-web-development.json
  api/fixtures/courses/Computer-Graphics.json
  api/fixtures/courses/Dump-Test.json
  api/fixtures/courses/Introduction-to-web-development.json
  api/fixtures/courses/Science-of-randomness.json
  api/fixtures/courses/Secrets-of-MPSE.json
  api/src/migrations/scripts/20181020-unit.ts
  api/src/models/units/Unit.ts
Labels: bug

#900 Add private key as encrypted file
  .travis/apidoc.sh
  .travis/deploy_docs.enc
  CHANGELOG.md
Labels: bug, infrastructure

#902 Re encode deploy key
  .travis/apidoc.sh
  .travis/deploy_docs.enc
  CHANGELOG.md
Labels: bug, infrastructure

#903 Remove migration from fixtures
  CHANGELOG.md
  api/test/controllers/Message.ts
Labels: bug

#906 Translation course media & access key
  CHANGELOG.md
  app/webFrontend/src/app/course/course-edit/course-media/course-media.component.html
  app/webFrontend/src/app/shared/components/access-key-dialog/access-key-dialog.component.html
Labels: enhancement

#893 Fix class definition for main content area
  CHANGELOG.md
  app/webFrontend/src/app/app.component.ts
Labels: bug, trivial, web-frontend

#917 bugfix/#916-Click-to-Notification-results-in-Error
  CHANGELOG.md
  app/webFrontend/src/app/course/course-detail/course-detail-routing.module.ts
  app/webFrontend/src/app/unit/unit.component.ts
Labels: bug, web-frontend

#920 Remove depcreated warning on startup
  CHANGELOG.md
  api/src/server.ts
Labels: api, enhancement

#907 Add fileUnitType for FileUnit
  CHANGELOG.md
  api/src/migrations/scripts/20181019-fileUnit.ts
Labels: api, bug

#919 PDF export: Use random hash as file name for temp file
  CHANGELOG.md
  api/src/controllers/DownloadController.ts
Labels: api, bug

#854 Exclude dependabot from changelog.md check
  .travis/changelog.sh
  CHANGELOG.md
Labels: infrastructure

#923 PDF export: Add warning that feature is beta
  CHANGELOG.md
  app/webFrontend/src/app/course/course-detail/download-course-dialog/download-course-dialog.component.html
  app/webFrontend/src/app/course/course-detail/download-course-dialog/download-course-dialog.component.scss
  app/webFrontend/src/assets/i18n/de.json
  app/webFrontend/src/assets/i18n/en.json
Labels: bug, web-frontend

#910 Feature/#904 make title or teaser image clickable
  CHANGELOG.md
  app/webFrontend/src/app/course/course.component.html
  app/webFrontend/src/app/course/course.component.scss
Labels: enhancement, web-frontend

#876 Close leak of progress of invisible units and courses
  CHANGELOG.md
  api/src/controllers/ReportController.ts
Labels: api, web-frontend
