Repository geli-lms/geli, pull requests merged in 2018-03, with the labels that each got.

#499 Feature/441 api doc build
  .gitignore
  .travis.yml
  .travis/apidoc.sh
  .travis/build-fe.sh
  api/gulpfile.js
  api/package-lock.json
  api/package.json
  api/src/controllers/UserController.ts
Labels: api

#521 Feature/506 new download features
  api/src/controllers/DownloadController.ts
  api/test/integration/download.ts
  app/webFrontend/src/app/course/course-detail/download-course-dialog/download-course-dialog.component.html
  app/webFrontend/src/app/course/course-detail/download-course-dialog/download-course-dialog.component.scss
  app/webFrontend/src/app/course/course-detail/download-course-dialog/download-course-dialog.component.ts
  app/webFrontend/src/app/course/course-detail/download-course-dialog/downloadCheckBoxes/lecture-checkbox.component.html
  app/webFrontend/src/app/course/course-detail/download-course-dialog/downloadCheckBoxes/lecture-checkbox.component.scss
  app/webFrontend/src/app/course/course-detail/download-course-dialog/downloadCheckBoxes/unit-checkbox.component.html
  app/webFrontend/src/app/course/course-detail/download-course-dialog/downloadCheckBoxes/unit-checkbox.component.scss
  app/webFrontend/src/app/course/course-detail/download-course-dialog/downloadCheckBoxes/upload-unit-checkbox.component.html
  app/webFrontend/src/app/course/course-detail/download-course-dialog/downloadCheckBoxes/upload-unit-checkbox.component.scss
  app/webFrontend/src/app/course/course-detail/download-course-dialog/downloadCheckBoxes/upload-unit-checkbox.component.ts
  app/webFrontend/src/app/shared/services/data.service.ts
Labels: enhancement, web-frontend

#524 Feature/265 add mediamanager per course migration
  api/gulpfile.js
  api/src/migrations/MigrationHandler.ts
  api/src/migrations/scripts/fileUnit.ts
  app/webFrontend/src/app/models/User.ts
  app/webFrontend/src/app/models/units/FileUnit.ts
  app/webFrontend/src/app/unit/file-unit/file-unit.component.ts
  app/webFrontend/src/app/user/user-profile/user-profile.component.ts
Labels: enhancement

#508 Display error message on failed logins
  api/src/security/passportLoginMiddleware.ts
  api/src/security/passportLoginStrategy.ts
  app/webFrontend/src/app/auth/login/login.component.ts
  app/webFrontend/src/assets/i18n/de.json
  app/webFrontend/src/assets/i18n/en.json
Labels: api, enhancement, web-frontend

#519 Feature/441 api doc content
  README.md
  api/package-lock.json
  api/package.json
  api/src/controllers/APIInfoController.ts
  api/src/controllers/AboutController.ts
  api/src/controllers/AuthController.ts
  api/src/controllers/ConfigController.ts
  api/src/controllers/CourseController.ts
  api/src/controllers/DownloadController.ts
  api/src/controllers/DuplicationController.ts
  api/src/controllers/ExportController.ts
  api/src/controllers/ImportController.ts
  api/src/controllers/LectureController.ts
  api/src/controllers/NotificationController.ts
  api/src/controllers/NotificationSettingsController.ts
  api/src/controllers/ProgressController.ts
  api/src/controllers/ReportController.ts
  api/src/controllers/UnitController.ts
  api/src/controllers/UserController.ts
  api/src/controllers/WhitelistController.ts
  app/webFrontend/package-lock.json
  app/webFrontend/package.json
Labels: api

#535 Bugfix api doc build
  .travis.yml
  api/package-lock.json
  api/package.json
  app/webFrontend/package-lock.json
  app/webFrontend/package.json
Labels: api, bug

#482 Enhancement/use types for fixtureutils
  api/fixtures/FixtureUtils.ts
  api/test/controllers/duplicate.ts
  api/test/controllers/import.ts
  api/test/integration/course.ts
Labels: enhancement
