Repository geli-lms/geli, pull requests merged in 2018-05, with the labels that each got.

#701 Repair angular cli code generation
  CHANGELOG.md
  app/webFrontend/package-lock.json
  app/webFrontend/package.json
Labels: bug, web-frontend

#700 Bugfix/691 user data leaks
  CHANGELOG.md
  api/src/config/errorCodes.ts
  api/src/controllers/CourseController.ts
  api/src/controllers/UserController.ts
  api/src/models/Course.ts
  api/src/models/User.ts
  api/src/utilities/EnsureMongoToObject.ts
  api/src/utilities/ExtractMongoId.ts
  api/test/integration/course.ts
  api/test/integration/user.ts
  api/test/unit/utilities.ts
  app/webFrontend/src/app/models/User.ts
  app/webFrontend/src/app/shared/services/data.service.ts
  shared/models/ICourseView.ts
  shared/models/IUserSubCourseView.ts
  shared/models/IUserSubSafe.ts
  shared/models/IUserSubTeacher.ts
Labels: api, bug, enhancement, refactoring, web-frontend

#709 Bugfix/forbid teachers to edit students
  CHANGELOG.md
  api/src/models/User.ts
  api/test/integration/user.ts
Labels: api, bug, refactoring

#707 Feature/correct changelog
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
Labels: enhancement, nice to have
