Repository geli-lms/geli, pull requests merged in 2018-11, with the labels that each got.

#849 Feature/#840 JWT cookie authentication
  CHANGELOG.md
  api/package-lock.json
  api/package.json
  api/src/Chatserver.ts
  api/src/config/errorCodes.ts
  api/src/controllers/AuthController.ts
  api/src/security/JwtUtils.ts
  api/src/security/passportJwtMiddlewareMedia.ts
  api/src/security/passportJwtStrategyFactory.ts
  api/src/security/passportJwtStrategyMedia.ts
  api/src/server.ts
  api/test/controllers/ChatRoom.ts
  api/test/controllers/Message.ts
  api/test/controllers/ProgressController.ts
  api/test/controllers/TestNotificationController.ts
  api/test/controllers/TestNotificationSettingsController.ts
  api/test/controllers/duplicate.ts
  api/test/controllers/export.ts
  api/test/controllers/import.ts
  api/test/controllers/media.ts
  api/test/integration/config.ts
  api/test/integration/course.ts
  api/test/integration/download.ts
  api/test/integration/unit/codeKataUnit.ts
  api/test/integration/unit/fileUnit.ts
  api/test/integration/user.ts
  api/test/integration/whitelistUser.ts
  app/webFrontend/src/app/app.component.ts
  app/webFrontend/src/app/course/course-detail/file-view/file-view.component.html
  app/webFrontend/src/app/course/course-detail/video-view/grid/grid.component.html
  app/webFrontend/src/app/course/course-detail/video-view/video-view.component.html
  app/webFrontend/src/app/file/file.component.html
  app/webFrontend/src/app/file/file.component.ts
  app/webFrontend/src/app/shared/components/filepicker-dialog/filepicker-dialog.component.ts
  app/webFrontend/src/app/shared/components/responsive-image-upload-dialog/responsive-image-upload-dialog.component.ts
  app/webFrontend/src/app/shared/components/responsive-image/responsive-image.component.html
  app/webFrontend/src/app/shared/components/upload-form/upload-form.component.ts
  app/webFrontend/src/app/shared/directives/user-image.directive.ts
  app/webFrontend/src/app/shared/pipes/jwt/jwt.pipe.spec.ts
  app/webFrontend/src/app/shared/pipes/jwt/jwt.pipe.ts
  app/webFrontend/src/app/shared/services/authentication.service.ts
  app/webFrontend/src/app/shared/services/backend.service.ts
  app/webFrontend/src/app/shared/services/chat.service.ts
  app/webFrontend/src/app/shared/shared.module.ts
  app/webFrontend/src/app/unit/file-unit/file-unit.component.html
  app/webFrontend/src/app/unit/file-unit/file-unit.component.ts
Labels: api, enhancement, web-frontend, 🔒 security

#908 Feature/#318 redirect to initial url after login
  CHANGELOG.md
  app/webFrontend/src/app/auth/login/login.component.ts
Labels: enhancement, web-frontend

#967 Fix delete lecture api endpoint type mismatch
  CHANGELOG.md
  api/src/controllers/LectureController.ts
  api/test/integration/lecture.ts
Labels: api

#918 #837 responsive course overview
  CHANGELOG.md
  app/webFrontend/src/app/course/course-container/course-container.component.html
  app/webFrontend/src/app/course/course-container/course-container.component.scss
  app/webFrontend/src/app/course/course-container/course-container.component.ts
  app/webFrontend/src/app/course/course-detail/course-detail.component.scss
  app/webFrontend/src/app/course/course-detail/course-overview/course-overview.component.html
  app/webFrontend/src/app/course/course-detail/course-overview/course-overview.component.scss
  app/webFrontend/src/app/course/course-detail/course-overview/course-overview.component.ts
  app/webFrontend/src/app/course/course-detail/download-course-dialog/download-course-dialog.component.scss
  app/webFrontend/src/app/course/course-detail/download-course-dialog/downloadCheckBoxes/lecture-checkbox.component.scss
  app/webFrontend/src/app/course/course-detail/download-course-dialog/downloadCheckBoxes/unit-checkbox.component.scss
  app/webFrontend/src/app/course/course-edit/course-edit.component.scss
  app/webFrontend/src/app/lecture/lecture.component.html
  app/webFrontend/src/app/lecture/lecture.component.ts
  app/webFrontend/src/app/shared/components/expandable-div/expandable-div.component.ts
  app/webFrontend/src/app/start/dashboard/dashboard-admin/dashboard-admin.component.scss
  app/webFrontend/src/app/start/dashboard/dashboard-student/dashboard-student.component.scss
  app/webFrontend/src/app/start/dashboard/dashboard-teacher/dashboard-teacher.component.html
  app/webFrontend/src/app/start/dashboard/dashboard-teacher/dashboard-teacher.component.scss
  app/webFrontend/src/assets/i18n/de.json
  app/webFrontend/src/assets/i18n/en.json
Labels: enhancement, web-frontend

#1045 Bugfix/prepare release 0.8.3 changelog
  CHANGELOG.md
Labels: infrastructure
