Repository geli-lms/geli, pull requests merged in 2019-03, with the labels that each got.

#1186 Bugfix/#1116 ProgressController vulnerabilities
  CHANGELOG.md
  api/fixtures/FixtureUtils.ts
  api/src/config/errorCodes.ts
  api/src/controllers/ProgressController.ts
  api/test/controllers/ProgressController.ts
  app/webFrontend/src/app/shared/services/data/progress.service.ts
  app/webFrontend/src/app/unit/code-kata-unit/code-kata-unit.component.ts
  app/webFrontend/src/app/unit/task-unit/task-unit.component.ts
Labels: api, bug, refactoring, web-frontend, 🔒 security

#1191 Bugfix/#1190 UnitController vulnerabilities
  CHANGELOG.md
  api/src/config/errorCodes.ts
  api/src/controllers/UnitController.ts
  api/test/integration/unit/codeKataUnit.ts
Labels: api, bug, refactoring, 🔒 security

#1193 Bugfix/#1192 WhitelistController vulnerabilities
  CHANGELOG.md
  api/src/controllers/WhitelistController.ts
  api/test/integration/whitelist.ts
  api/test/integration/whitelistUser.ts
Labels: api, bug, refactoring, 🔒 security

#1189 Remove migrate-mongoose dependency
  CHANGELOG.md
  api/package-lock.json
  api/package.json
  api/src/migrations/scripts/20180102-unit.ts
  api/src/migrations/scripts/20180324-taskUnit.ts
  api/src/migrations/scripts/20180324-videoUnit.ts
  api/src/migrations/scripts/20180331-fileUnit.ts
  api/src/migrations/scripts/20180821-course.ts
  api/src/migrations/scripts/20180821-unit.ts
  api/src/migrations/scripts/20181030-course.ts
Labels: api, dependencies

#1197 Bugfix/#1196 MediaController vulnerabilities
  CHANGELOG.md
  api/src/controllers/MediaController.ts
  api/src/migrations/scripts/20190323-course-media.ts
  api/src/models/mediaManager/Directory.ts
  api/src/models/mediaManager/File.ts
  api/test/controllers/media.ts
  app/webFrontend/src/app/course/course-edit/course-media/course-media.component.ts
  app/webFrontend/src/app/models/mediaManager/Directory.ts
  app/webFrontend/src/app/models/mediaManager/File.ts
  app/webFrontend/src/app/shared/services/data.service.ts
  shared/models/mediaManager/IDirectory.ts
  shared/models/mediaManager/IFile.ts
Labels: api, bug, refactoring, web-frontend, 🔒 security
